.videolar{
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.videorow {
  padding: 0 3rem 0 3rem;
  display: flex;
  height: 50vh;
  margin-top: 0rem;
  margin-bottom: 2rem;

  /* scroll */
  align-items: center;
}

.video-izle-text{
  display: flex;
  justify-content: left;
  margin-left: 12rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.kitaplik-text{
  display: flex;
  justify-content: left;
  margin-left: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}


.s-button {
  width: 6rem;
  height: 3rem;
  margin-top: 2rem;
}


/* right side */
.w-right {
  display: flex;
  justify-content: space-between;
  margin-left: -4rem;
  
}
.w-right > * {
  margin-right: 4px; 
}

.w-right > *:last-child {
  margin-right: 0; 
}

.w-right img {
  width: 450px;
  margin-right: 4px; 
}

.w-right span {
  margin-top: 5.5rem;
  margin-right: 1rem;
  color: #99cc33;
}


@media (max-width: 767px) {
  .videolar{
    margin-top:-6rem;
    margin-bottom: 0rem;
  }
  .videorow {
    flex-direction: column;
    height: 25rem;
    padding: 0;
   
  }
  .video-izle-text{
    display: flex;
    justify-content: left;
    margin-left: 0rem;
    margin-bottom: -1rem;
   
    font-size: 1rem;
  }

  .w-right {
    display: flex;
    justify-content: space-between;
    margin-left: 0rem;
    transform: scale(0.4);
    
  }
  .w-right > * {
    margin-right: -12rem; 
  }
  
  .w-right > *:last-child {
    margin-right: 0; 
  }

  .w-right span {
    margin-top: 2.5rem;
    margin-right: 1rem;
    color: #99cc33;
  }
}





