.navigation-register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(154, 239, 239, 1)
  );
  box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.5);
}

.navigationBlack-register{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 8rem;
  background: linear-gradient(
    to top,
    rgb(12, 3, 48),
    rgb(0, 0, 0)
  );
  box-shadow: 0 2px 8px 2px rgba(255, 255, 255, 0.5);
}


.n-left-register {
  display: flex;
  align-items: flex-start;
  margin-left: 10rem;
  margin-top: -5rem;
}

.n-right-register {
  display: flex;
  justify-content: flex-end;
  margin-top: -3rem;
}


.n-list-register ul {
  margin: 0;
  padding: 0;
}

.n-list-register li {
  display: inline-block;
}

.navkuslar2 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 12rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -12rem;
  margin-top: 4rem;
}

.navkuslar1 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 14rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4rem;
  margin-top: 4rem;
}




/* Media Queries */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {  
  .navkuslar2 {
    display: none;
  }
  .navkuslar1 {
    display: none;
  }

  .navigation-register{
    height: 5rem;
    justify-content: center;
   
  }
  .navigationBlack-register{
    height: 5rem;
    justify-content: center;
  }

  .n-right-register {
    margin-top: -2rem;
  }

  .n-left-register {
    margin-top: -3rem;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .navigation-register{
    height: 5rem;
    justify-content: center;
   
  }
  .navigationBlack-register{
    height: 5rem;
    justify-content: center;
  }

  .n-right-register {
    margin-top: -2rem;
  }

  .n-left-register {
    margin-top: -3rem;
   
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navigation-register{
    height: 5rem;
    justify-content: center;
   
  }
  .navigationBlack-register{
    height: 5rem;
    justify-content: center;
  }

  .n-right-register {
    margin-top: -2rem;
  }

  .n-left-register {
    margin-top: -3rem;
   
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navigation-register{
    height: 5rem;
    justify-content: center;
   
  }
  .navigationBlack-register{
    height: 5rem;
    justify-content: center;
  }

  .n-right-register {
    margin-top: -2rem;
  }

  .n-left-register {
    margin-top: -3rem;
   
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .navigation-register{
    height: 7rem;
    justify-content: center;
   
  }
  .navigationBlack-register{
    height: 7rem;
    justify-content: center;
  }

  .n-left-register {
    margin-top: -3.5rem;
    margin-left: 1rem;
  }

  .n-right-register {
    margin-top: -2rem;
  }

}

/* Extra large devices (large laptops and desktops, 1918px and up) */
@media only screen and (min-width: 1918px) {
  .navigation-register{
    height: 8rem;
    justify-content: space-between;
   
  }
  .navigationBlack-register{
    height: 8rem;
    justify-content: space-between;
  }

  .n-right-register {
    margin-top: -3rem;
  }

  .n-left-register {
    margin-top: -5rem;
  }

 
}




