.flippable-card-container {
  /* === Sizing === */
  margin-top: 16%;
  height: 240px;
  width: 205px;
  perspective: 1000px;
  display: flex;
  flex-direction: 'column';
  align-items: center;
  justify-content: center;
  /* font-size: 12px; */
}
